### Importing libraries

In [78]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, TimeSeriesSplit
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [5]:
import os
os.chdir("C:/Users/Abhishek.Bansal/OneDrive - Fractal Analytics Pvt. Ltd/Documents/Personal/Tiger")

### Reading data

In [36]:
df = pd.read_csv("data.csv")

In [37]:
df.head()

,Month,B1_sales_value,cat_sales_value,C1_sales_value,C2_sales_value,C3_sales_value,C4_sales_value,C5_sales_value,C6_sales_value,C7_sales_value,...,C3_non_tv_spend,C4_non_tv_spend,C5_non_tv_spend,C6_non_tv_spend,C7_non_tv_spend,TP1,TP2,TP3,CP1,CP2
0,01-10-2001,12552.42,62845.19,30553.92,3378.92,1631.54,2491.49,3578.44,2394.85,1269.65,...,NaN,NaN,NaN,NaN,NaN,,,3601,0,15413
1,01-11-2001,12363.50,63750.28,31747.62,3788.86,1529.16,1958.63,3962.10,2122.06,1191.30,...,NaN,NaN,NaN,NaN,NaN,,,757,,15953
2,01-12-2001,12771.89,65869.93,32804.70,3914.98,1580.14,2023.92,4094.17,2192.80,1231.01,...,NaN,NaN,NaN,NaN,NaN,,,3119,,17148
3,01-01-2002,13914.19,68350.41,34440.56,3832.02,1443.07,1949.26,3479.77,2366.00,1364.42,...,NaN,NaN,NaN,NaN,NaN,,,577,83,1164
4,01-02-2002,12564.65,61731.25,31106.38,3461.06,1303.42,1760.62,3143.01,2137.03,1232.38,...,NaN,NaN,NaN,NaN,NaN,1293,0,1718,3907,3182

### Checking data types and converting into required data type

In [84]:
pd.set_option('display.max_rows', 80)
#df.dtypes

In [72]:
#Replacing spaces or blank values with NaN
df['C1_GRP'] = df['C1_GRP'].replace(r"^\s*$", np.nan, regex = True)
df['C2_GRP'] = df['C2_GRP'].replace(r"^\s*$", np.nan, regex = True)
df['TP1'] = df['TP1'].replace(r"^\s*$", np.nan, regex = True)
df['TP2'] = df['TP2'].replace(r"^\s*$", np.nan, regex = True)
df['CP1'] = df['TP3'].replace(r"^\s*$", np.nan, regex = True)

In [74]:
#Changing data types
#df['C1_GRP'] = df['C1_GRP'].astype("float")
df = df.astype({'C1_GRP': float, 'C2_GRP': float, 'TP1': float, 'TP2': float, 'CP1': float})

In [66]:
#Renaming columns as some have white spaces
df.rename(columns = {' TP1 ':'TP1', ' TP2 ':'TP2', ' TP3 ':'TP3', ' CP1 ':'CP1', ' CP2 ':'CP2'}, inplace = True)

In [81]:
#Convert Month to datetime
df['Month'] = pd.to_datetime(df['Month'], format = '%d-%m-%Y')

### Descriptive analytics and related data pre-processing

In [135]:
df[rem_columns2].shape

(37, 56)

In [132]:
df[rem_columns2].describe().T

,count,mean,std,min,25%,50%,75%,max
B1_sales_value,37.0,19146.890270,5388.232921,12363.50,13914.19,17734.97,23292.63,30026.40
cat_sales_value,37.0,77727.802703,13096.368469,61731.25,67466.28,74112.21,86320.78,107934.61
C1_sales_value,37.0,36975.577568,4224.374761,30553.92,34099.19,35620.43,39668.88,47249.55
C2_sales_value,37.0,3871.729730,660.648774,3104.84,3384.90,3652.61,4264.60,5906.53
C3_sales_value,37.0,1277.477568,216.279552,1033.92,1084.23,1226.48,1457.33,1801.33
C4_sales_value,37.0,2069.935405,490.316602,1327.37,1628.31,2023.92,2459.03,3219.42
C5_sales_value,37.0,3928.297568,782.413820,2845.66,3172.39,3844.87,4397.41,5562.60
C6_sales_value,37.0,2070.949730,210.806906,1734.91,1823.49,2120.50,2211.78,2411.91
C7_sales_value,37.0,1523.526486,535.012986,860.24,1119.65,1364.42,1915.99,2960.88
B1_sales_volume,37.0,1215.357838,270.838498,840.41,937.69,1170.73,1450.65,1707.50
cat_sales_volume,37.0,5918.166757,594.656031,5199.18,5472.36,5639.82,6388.41,7142.37
C1_sales_volume,37.0,2574.309189,174.323893,2335.71,2428.53,2509.39,2667.31,2985.21
C2_sales_volume,37.0,275.608108,32.421639,223.04,252.64,269.57,298.21,368.79
C3_sales_volume,37.0,107.031622,16.315955,85.84,93.15,102.76,116.28,142.57
C4_sales_volume,37.0,411.400541,73.233472,285.07,348.53,425.35,448.63,545.03
C5_sales_volume,37.0,318.716757,43.386981,253.40,286.62,319.40,347.69,415.65
C6_sales_volume,37.0,298.098919,30.311334,247.93,276.26,297.97,319.82,378.86
C7_sales_volume,37.0,155.535676,44.857437,91.44,117.35,148.86,191.58,268.06
B1_dealers,37.0,21.972973,2.576458,16.00,20.00,22.00,24.00,27.00
cat_dealers,37.0,88.459459,1.501751,82.00,88.00,89.00,89.00,90.00
C1_dealers,37.0,76.837838,2.020912,70.00,76.00,77.00,78.00,80.00
C2_dealers,37.0,15.756757,1.164412,14.00,15.00,16.00,17.00,17.00
C3_dealers,37.0,3.486486,0.803521,3.00,3.00,3.00,4.00,5.00
C4_dealers,37.0,3.351351,0.483978,3.00,3.00,3.00,4.00,4.00
C5_dealers,37.0,2.864865,0.713449,2.00,2.00,3.00,3.00,4.00
C6_dealers,37.0,5.540541,0.988675,4.00,5.00,5.00,6.00,8.00
C7_dealers,37.0,1.567568,0.502247,1.00,1.00,2.00,2.00,2.00
B1_distr,37.0,50.162162,4.272090,43.00,47.00,50.00,53.00,58.00
cat_distr,37.0,100.000000,0.000000,100.00,100.00,100.00,100.00,100.00
C1_distr,37.0,91.324324,1.179785,89.00,90.00,91.00,92.00,93.00
C2_distr,37.0,32.270270,1.283412,30.00,32.00,32.00,33.00,35.00
C3_distr,37.0,17.702703,2.011976,13.00,16.00,18.00,19.00,22.00
C4_distr,37.0,6.891892,1.307750,5.00,6.00,7.00,8.00,9.00
C5_distr,37.0,22.162162,2.443967,17.00,19.00,23.00,23.00,26.00
C6_distr,37.0,3.891892,0.698561,3.00,3.00,4.00,4.00,5.00
C7_distr,37.0,1.432432,0.502247,1.00,1.00,1.00,2.00,2.00
B1_avg_price,37.0,15577.296216,999.081909,14521.65,14830.15,15397.83,16103.03,18674.87
cat_avg_price,37.0,13057.091081,936.033408,11466.95,12238.20,13094.12,13623.40,15111.87
C1_avg_price,37.0,14330.020811,828.143725,12990.71,13636.19,14362.80,15001.98,15827.87
C2_avg_price,37.0,14009.894054,1187.569267,12123.23,13093.41,13706.13,14773.91,16015.91
C3_avg_price,37.0,11926.083243,703.469514,11054.19,11331.55,11779.02,12464.87,13828.50
C4_avg_price,37.0,4997.137568,497.830726,4511.32,4639.86,4739.80,5238.28,5988.43
C5_avg_price,37.0,12241.856757,994.794368,10980.25,11451.28,11904.05,13171.53,14035.93
C6_avg_price,37.0,6950.272703,241.553604,6321.17,6734.54,7019.58,7132.58,7394.68
C7_avg_price,37.0,9656.136486,704.640550,8483.94,9133.42,9546.79,10159.02,11551.16
B1_grp,35.0,743.914286,604.256343,11.00,309.00,607.00,1134.50,2211.00
cat_GRP,35.0,1347.028571,888.297164,15.00,581.00,1329.00,1880.50,3995.00
C1_GRP,17.0,1161.588235,633.054703,269.00,898.00,1033.00,1271.00,3054.00
B1_non_tv_spend,37.0,97909.702703,91322.027468,0.00,0.00,67600.00,153660.00,294489.00
cat_non_tv_spend,37.0,210354.432432,224829.133995,0.00,41769.00,158001.00,245752.00,901534.00
C1_non_tv_spend,37.0,76846.135135,168090.025534,0.00,0.00,0.00,25318.00,590931.00
TP1,37.0,1897.027027,3193.844318,0.00,0.00,870.00,2693.00,16764.00
TP3,37.0,2859.324324,2223.492886,56.00,1378.00,2205.00,3858.00,9911.00
CP1,37.0,2859.324324,2223.492886,56.00,1378.00,2205.00,3858.00,9911.00
CP2,37.0,25354.864865,17276.446749,1164.00,13192.00,20541.00,37148.00,66519.00

In [94]:
#Replace NA's with 0's for spend and promotion columns
spend_promo_columns = df.loc[:,'B1_non_tv_spend':].columns

for i in spend_promo_columns:
    df[i] = df[i].fillna(0)

In [129]:
#Remove columns with more than 80% null values
all_cols = df.columns
removed_cols = []

for i in all_cols:
    null_rows = sum(df[i].isnull())
    null_perc = null_rows / (df.shape[0]) * 100
    
    if null_perc > 80:
        removed_cols.append(i)
        print((i + " " + str(null_perc) + "%"))

rem_columns = [i for i in all_cols if i not in removed_cols]

C2_GRP 81.08108108108108%
C3_GRP 100.0%
C4_GRP 100.0%
C5_GRP 100.0%
C6_GRP 100.0%
C7_GRP 100.0%

In [131]:
#Remove columns with more than 80% zero values
removed_zero_cols = []

for i in rem_columns:
    zero_rows = sum(df[i] == 0)
    zero_perc = zero_rows / (df.shape[0]) * 100
    
    if zero_perc > 80:
        removed_zero_cols.append(i)
        print((i + " " + str(zero_perc) + "%"))

rem_columns2 = [i for i in rem_columns if i not in removed_zero_cols]

C2_non_tv_spend 94.5945945945946%
C3_non_tv_spend 100.0%
C4_non_tv_spend 100.0%
C5_non_tv_spend 100.0%
C6_non_tv_spend 100.0%
C7_non_tv_spend 100.0%
TP2 100.0%

In [ ]:
#Replace null values in grp columns with zero assuming no tv adv in those months
grp_cols = ['B1_grp','cat_GRP','C1_GRP']

In [ ]:
## VIF exceeding 5 or 10 means high multicollinearity in data
## VIF = 1 / (1-R^2)
def calc_vif(X):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["features"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)

In [ ]:
lr = LinearRegression()
print(cross_val_score(lr, X, y, cv=TimeSeriesSplit()))

In [134]:
df['B1_grp']

0        NaN
1        NaN
2      923.0
3     1329.0
4     2075.0
5     2211.0
6     1613.0
7     1423.0
8      672.0
9     1415.0
10    1321.0
11    1713.0
12    1467.0
13     386.0
14     273.0
15     105.0
16      75.0
17     444.0
18     559.0
19     384.0
20     513.0
21     229.0
22     551.0
23     371.0
24     607.0
25     676.0
26     345.0
27      15.0
28     224.0
29     941.0
30     626.0
31     885.0
32     948.0
33      19.0
34      17.0
35     671.0
36      11.0
Name: B1_grp, dtype: float64

In [124]:
sum(df['TP1'] == 0)

14

In [103]:
df.shape[0]

37

['A', 'D']